@import "/src/helpers/style/mixins.less";
.register {
  .flexCentering(row);
  width: 100rem;
  height: 100rem;
  background-color: rgb(198, 204, 209);
  font-size: large;
  color: whitesmoke;
  border: var(--border-basic);
  border-radius: 10px;
  overflow: hidden;
}

.register-title {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  margin-top: 1rem;
}

.register-content {
  .flexSpacing(column);
  justify-content: flex-start;
  height: 100%;
  width: 50%;
  color: var(--color-font-bright);
  padding-top: 1rem;
}

.register-form {
  margin-top: 2rem;
  width: 80%;
}
.register-form-button {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
}
.register-form-input {
  height: 4rem;
}

.register-form-textarea {
  height: 25rem !important;
}

.register-logo {
  font-size: 2.2rem;
}

.register-graphic {
  .flexCentering(column);
  color: var(--color-font);
  font-size: 3rem;
  background-color: var(--color-bg-bright);
  width: 50%;
  height: 100%;

  & img {
    width: 60%;
    margin-bottom: 2rem;
  }
}
