@import "/src/helpers/style/mixins.less";

.details-employer-info {
  .flexSpacing(column);
  width: 40rem;
  height: min-content;
  min-height: 20rem;
  background-color: var(--color-bg-bright-b);
  padding: 2rem;
}
