@import "/src/helpers/style/mixins.less";
.details {
  height: min-content;
  width: 50vw;
  background-color: var(--color-bg-bright-b);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em 3em;
  //border-radius: 10px;
  //border: 1px solid var(--color-border);
  min-height: 65vh;
}
.details-sider {
  .flexSpacing(column);
  width: 20vw;
  height: min-content;
  min-height: 40rem;
  background-color: var(--color-bg-bright-b);
}
