@import "/src/helpers/style/mixins.less";
.details {
  height: min-content;
  width: 60vw;
  background-color: var(--color-bg-bright-b);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 2.75rem;
  //border-radius: 10px;
  //border: 1px solid var(--color-border);
  min-height: 65vh;
}
